html {
    font-size: 62.5%;
}

body {
    background: #f8f8f8;
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,PingFang SC,Hiragino Sans GB,Microsoft Yahei,Microsoft Jhenghei,sans-serif;
}


dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background: #36323d;
    overflow: hidden;
}

.header-index {
    background: #001a23;
}


header nav {
    float: right;
    padding: 2rem;
}

header nav li {
    float:left;
}

header nav a {
    color: #fff;
    font-size: 1.6rem;
    line-height: 3rem;
    letter-spacing: .2rem;
    margin: 0 2rem;
    text-decoration: none;
}

header nav .github {
    font-size: 3rem;
}

.get-start {
    display: inline-block;
    width: 120px;
    margin: 30px;
    line-height: 26px;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
}

.get-start:link,
.get-start:visited {
    background: #a88500;
    color: #fff;
    border-radius: 3px;
}

.get-start:hover {
    background: #c7a31a;
}


.header-index {
    padding-top: 20px;
    height: 300px;
    text-align: center;
}

.logo {
    display: block;
    width: 100px;
    height: 200px;
    margin: 0 auto;
}

section {
    padding: 10px 0 80px;
}

section h4 {
    border-bottom: 1px solid #464646;
    text-align: center;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: .1em;
    max-width: 80rem;
    margin: 2rem auto;
}

section h4 b {
    background: #19232e;
    padding: 10px;
    position: relative;
    top: 10px;
    color: #777;
}

.feature {
    background: #19232e;
}


.feature-row {
    margin: 0 auto;
    max-width: 90rem;
    overflow: hidden;
}

.feature-item {
    box-sizing: border-box;
    width: 33%;
    height: 15rem;
    float: left;
    padding: 1rem;
}

.feature-item .fa {
    font-size: 3rem;
    color: #fff;
    margin: 25px 0 15px;
}

.feature h5 {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #fff;
    margin: 15px 0 5px;
}

.feature p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    line-height: 1.6rem;
    color: #999;
}

.resource {
    background: #36323d;
    padding-bottom: 60px;
}

.resource h4 b {
    background: #36323d;
}

.resource-row {
    margin: 0 auto;
    max-width: 82rem;
    padding-top: 12px;
    overflow: hidden;
}

.resource-item {
    box-sizing: border-box;
    width: 20rem;
    height: 114px;
    float: left;
    margin: 0 .25rem;
    border-bottom: 3px solid #f6f2f6;
}

.resource-item:hover {
    background: rgba(255, 255, 255, .05);
}

.resource-item h5 {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #fff;
    margin: 15px 0 5px;
    padding-left: .4rem;
}

.resource-item p {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    line-height: 1.6rem;
    color: #c6aeb4;
    padding-left: 1.8rem;
}

footer {
    background: #98c5e5;
    margin: 0;
}

.efe-products {
    margin: 0 auto;
    max-width: 900px;
    color: #36323d;
    padding: 10px 0;
}

.efe-products dt {
    clear: left;
    width: 70px;
}

.efe-products dt a {
    color: #efefef;
    text-decoration: none;
}

.efe-products dt, .efe-products dd {
    float: left;
    line-height: 2.4rem;
    font-size: 1.4rem;
    color: #444;
}

.efe-products dl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.copyright {
    background: #fff;
    text-align: center;
    line-height: 6rem;
    font-size: 1.4rem;
    color: #8c656d;
}

.copyright a {
    color: #8c656d;
}

.recommend {
    float: left;
    font-size: 1.4rem;
    width: 16rem;
    margin-right: .9rem;
}

.recommend dt {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: .25rem;
    font-weight: 900;
    color: #001a23;
}

.recommend dd a:link,
.recommend dd a:visited {
    color: #268bd2;
    text-decoration: none;
}


main {
    overflow: hidden;
    width: 90rem;
    margin: 0 auto;
}