<dl class="example-main">
    <dt><a href="https://github.com/ecomfe/san/tree/master/example/start" target="_blank">小示例</a></dt>
    <dd>一些小的示例，主要是展示 San 一些小特性的用法。</dd>


    <dt><a href="https://github.com/ecomfe/san/tree/master/example/todos-amd" target="_blank">Todos (AMD)</a></dt>
    <dd>一个 Todos 应用的例子，包含列表、列表内操作、表单提交、浮出层、交互组件等应用开发中常见的场景。</dd>


    <dt><a href="https://github.com/ecomfe/san/tree/master/example/todos-esnext" target="_blank">Todos (ESNext)</a></dt>
    <dd>上面 Todos 应用的 ESNext 版本。其使用了webpack + babel，更符合流行的应用开发习惯。</dd>


    <dt><a href="https://github.com/ecomfe/san-store/tree/master/example/todos" target="_blank">Todos (单向流)</a></dt>
    <dd>上面 Todos 应用的单向流版本。其使用了 san-store。</dd>

    <dt>在线用法小示例</dt>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="rmGygP" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-bindx" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/rmGygP/">san-bindx</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="aWLyZa" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-list" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/aWLyZa/">san-list</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="aWLWoe" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-checkbox" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/aWLWoe/">san-checkbox</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="KmXmqb" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-radio" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/KmXmqb/">san-radio</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
    <dd class="example-codepen"><p data-height="265" data-theme-id="dark" data-slug-hash="VbMbrp" data-default-tab="js,result" data-user="errorrik" data-embed-version="2" data-pen-title="san-slot" class="codepen">See the Pen <a href="https://codepen.io/errorrik/pen/VbMbrp/">san-slot</a> by errorrik (<a href="http://codepen.io/errorrik">@errorrik</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script></dd>
</dl>