<section class="resource">
    <h4><b>RESOURCES</b></h4>

    <div class="resource-row">
        <a class="resource-item" href="<%- url_for('tutorial/start/') %>">
            <h5>教程</h5>
            <p>教程是入门的捷径，请从这里开始了解San。</p>
        </a>
        <a class="resource-item resource-item-unready">
            <h5>指南</h5>
            <p>我们正在编写指南手册，以指导各种应用场景下怎么使用San。</p>
        </a>
        <a class="resource-item" href="<%- url_for('example/') %>">
            <h5>示例</h5>
            <p>这里展示了一些简单例子，以及在实际项目如何使用San。</p>
        </a>
        <a class="resource-item" href="<%- url_for('doc/api/') %>">
            <h5>组件 API</h5>
            <p>当你想不起来组件的接口时，请查阅这里。</p>
        </a>
    </div>
</section>
<section class="facility">
    <h4><b>FACILITIES</b></h4>

    <div class="facility-row">
        <a class="facility-item" href="https://github.com/ecomfe/san-router" target="_blank">
            <h5>Router</h5>
            <p>支持hash和html5模式的router，单页或同构的Web应用通常需要它。</p>
        </a>
        <a class="facility-item" href="https://github.com/ecomfe/san-store" target="_blank">
            <h5>Store</h5>
            <p>应用状态管理套件，其理念是类似flux的单向流。</p>
        </a>
        <a class="facility-item" href="https://github.com/ecomfe/san-update" target="_blank">
            <h5>Update</h5>
            <p>Immutable的对象更新库，和san-store配合进行应用状态数据更新。</p>
        </a>
        <a class="facility-item" href="https://github.com/ecomfe/san-mui" target="_blank">
            <h5>MaterialUI组件库</h5>
            <p>基于material-design设计规范的组件库</p>
        </a>
    </div>
</section>
<footer>
    <div class="efe-products" id="links">
        <p><i class="fa fa-info-circle"></i> 开源的 San 来自百度 EFE。在 <a target="_blank" href="http://efe.baidu.com">EFE</a>，我们有一系列开源产品：</p>
        <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/efe-meta/html/full-intro.html', true);
        xhr.send();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById('links').insertAdjacentHTML('beforeend', xhr.responseText);
            }
        };
        </script>
    </div>
    <div class="copyright">
        &copy; 2017 <a target="_blank" href="http://efe.baidu.com">Baidu EFE</a>
    </div>
</footer>
