<section class="resource">
    <h4><b>RESOURCES</b></h4>

    <div class="resource-row">
        <a class="resource-item" href="<%- url_for('tutorial/start/') %>">
            <h5>教程</h5>
            <p>教程是入门的捷径，请从这里开始了解San。</p>
        </a>
        <a class="resource-item resource-item-unready">
            <h5>指南</h5>
            <p>我们正在编写指南手册，以指导各种应用场景下怎么使用San。</p>
        </a>
        <a class="resource-item" href="<%- url_for('example/') %>">
            <h5>示例</h5>
            <p>这里展示了一些简单例子，以及在实际项目如何使用San。</p>
        </a>
        <a class="resource-item" href="<%- url_for('doc/api/') %>">
            <h5>API</h5>
            <p>当你想不起来San提供的接口时，请查阅这里。</p>
        </a>
    </div>
</section>
<footer>
    <div class="efe-products" id="links">
        <p>开源的 San 来自百度 EFE。在 <a target="_blank" href="http://efe.baidu.com">EFE</a>，我们有一系列开源产品：</p>
        <script>
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/efe-meta/html/full-intro.html', true);
        xhr.send();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById('links').insertAdjacentHTML('beforeend', xhr.responseText);
            }
        };
        </script>
    </div>
    <div class="copyright">
        &copy; 2016 <a target="_blank" href="http://efe.baidu.com">Baidu EFE</a>
    </div>
</footer>