<header>
    求个LOGO
    <nav>
        <ul>
            <li><a href="<%- url_for('') %>">HOME</a>
            <li><a href="<%- url_for('guide/config/') %>">教程</a>
            <li><a href="<%- url_for('example/') %>">示例</a>
            <li><a href="<%- url_for('doc/api/') %>">API</a>
            <li><a href="https://github.com/ecomfe/san-core" class="github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </ul>
    </nav>
</header>