<header>
    <nav>
        <ul>
            <li><a href="#">HOME</a>
            <li><a href="#">教程</a>
            <li><a href="#">示例</a>
            <li><a href="#">API</a>
            <li><a href="#" class="github"><i class="fa fa-github" aria-hidden="true"></i></a>
        </ul>
    </nav>
</header>