<aside class="recommend">
    <dl>
        <dt>教程</dt>
        <dd><a href="#">安装</a></dd>
        <dd><a href="#">开始</a></dd>
        <dd><a href="#">数据绑定</a></dd>
        <dd><a href="#">数据操作</a></dd>
        <dd><a href="#">事件绑定</a></dd>
        <dd><a href="#">表单</a></dd>
        <dd><a href="#">组件</a></dd>
        <dd><a href="#">组件反解</a></dd>

        <dt>OTHER</dt>
        <dd><a href="#">API</a></dd>

        <dt>示例</dt>
        <dd><a href="#">AMD</a></dd>
        <dd><a href="#">ES6</a></dd>
    </dl>
</aside>